extends layout

block content
  h1= title
    - let icecreams   =[{name:"kulfi",flavor:"badam",price:10},{name:"chocobar",flavor:"vanilla",price:20},{name:"cone",flavor:"chocolate",price:50}]
  div(class="container-fluid")
  div(class="row")
    
    each icecream,index in icecreams
                table(style='width:100%')
                    tr
                        div(class="col-sm-2" ) #{icecream.name}
                        div(class="col-sm-2" ) #{icecream.flavor}
                        div(class="col-sm-2" ) $#{icecream.price}     