extends layout

block content
  h1= title
  p Welcome to #{title}
  p this is assignment-10
  button(type="button",class="btn btn-warning" onclick="dobump()") Press Me
  div(id='bump') Bump the count 
  script(type='text/javascript').
    var count=0
    var bump=1
    function dobump(){
    bump=bump+count
    document.getElementById('bump').innerHTML=bump;
    bump+=1
    };
  a(href='icecream') icecream

